@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
header {
  height: auto;
}
header nav {
  width: 100%;
  height: 100%;
}
header nav ul {
  height: 100%;
  justify-content: center;
}
header nav ul li {
  margin-left: 50px;
  color: white;
}

#logo {
  display: flex;
  height: 100%;
}

.main-container-generos {
  height: auto;
  display: grid;
  align-items: center;
  grid-template-areas: "explain explain" "rpg hs" "disparos br" "sim deporte";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.explicacion-generos {
  color: white;
  justify-self: center;
  grid-area: explain;
  text-align: center;
}

.generos-h4-1 {
  color: white;
  justify-self: center;
  grid-area: rpg;
  text-align: center;
}

.generos-h4-2 {
  color: white;
  justify-self: center;
  grid-area: hs;
  text-align: center;
}

.generos-h4-3 {
  color: white;
  justify-self: center;
  grid-area: disparos;
  text-align: center;
}

.generos-h4-4 {
  color: white;
  justify-self: center;
  grid-area: br;
  text-align: center;
}

.generos-h4-5 {
  color: white;
  justify-self: center;
  grid-area: sim;
  text-align: center;
}

.generos-h4-6 {
  color: white;
  justify-self: center;
  grid-area: deporte;
  text-align: center;
}

.iframe-generos {
  width: 100%;
  height: 100%;
}
.iframe-generos iframe {
  width: 560px;
  height: 315px;
}

@media (max-width: 768px) {
  .main-container-generos {
    height: auto;
    display: grid;
    align-items: center;
    grid-template-areas: "explain" "rpg" "hs" "disparos" "br" "sim" "deporte";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .explicacion-generos {
    color: white;
    justify-self: center;
    grid-area: explain;
    text-align: center;
  }
  .generos-h4-1 {
    color: white;
    justify-self: center;
    grid-area: rpg;
    text-align: center;
  }
  .generos-h4-2 {
    color: white;
    justify-self: center;
    grid-area: hs;
    text-align: center;
  }
  .generos-h4-3 {
    color: white;
    justify-self: center;
    grid-area: disparos;
    text-align: center;
  }
  .generos-h4-4 {
    color: white;
    justify-self: center;
    grid-area: br;
    text-align: center;
  }
  .generos-h4-5 {
    color: white;
    justify-self: center;
    grid-area: sim;
    text-align: center;
  }
  .generos-h4-6 {
    color: white;
    justify-self: center;
    grid-area: deporte;
    text-align: center;
  }
  .iframe-generos {
    width: 100%;
    height: 100%;
  }
  .iframe-generos iframe {
    width: 370px;
    height: 205px;
  }
}
.main-trending-container {
  height: auto;
  border: 2px solid black;
  display: grid;
  grid-template-areas: "presentacion presentacion presentacion presentacion" "csgo gtav pubg apex" "fm warzone r6 terraria";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.texto-trending {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: presentacion;
}

.card-csgo {
  grid-area: csgo;
}

.card-gtav {
  grid-area: gtav;
}

.card-pubg {
  grid-area: pubg;
}

.card-apex {
  grid-area: apex;
}

.card-fm {
  grid-area: fm;
}

.card-warzone {
  grid-area: warzone;
}

.card-R6 {
  grid-area: r6;
}

.card-terraria {
  grid-area: terraria;
}

@media (max-width: 768px) {
  .main-trending-container {
    height: auto;
    border: 2px solid black;
    display: grid;
    grid-template-areas: "presentacion" "csgo" "gtav" "pubg" "apex" "fm" "warzone" "r6" "terraria";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    gap: 50px;
  }
  .texto-trending {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: presentacion;
  }
  .card-csgo {
    grid-area: csgo;
  }
  .card-gtav {
    grid-area: gtav;
  }
  .card-pubg {
    grid-area: pubg;
  }
  .card-apex {
    grid-area: apex;
  }
  .card-fm {
    grid-area: fm;
  }
  .card-warzone {
    grid-area: warzone;
  }
  .card-R6 {
    grid-area: r6;
  }
  .card-terraria {
    grid-area: terraria;
  }
}
body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  height: 100vh;
}

main {
  height: auto;
}

.grid-container-index {
  height: 550px;
  text-align: center;
  align-items: center;
  padding: 10px;
  display: grid;
  grid-template-areas: "h1 imagen" "p imagen" "p imagen";
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.h1-index {
  grid-area: h1;
  color: white;
}

.p-index {
  font-size: 20px;
  grid-area: p;
  align-self: flex-start;
  color: white;
}

.index-img {
  grid-area: imagen;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .grid-container-index {
    height: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    display: grid;
    grid-template-areas: "h1 h1" "p p" "imagen imagen";
    gap: 5px;
  }
  .h1-index {
    grid-area: h1;
    color: white;
  }
  .p-index {
    grid-area: p;
    align-self: flex-start;
    color: white;
  }
  .index-img {
    grid-area: imagen;
    border: 2px solid black;
  }
}
.main-sobreNosotros-container {
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sobreNosotros-item1 {
  text-decoration: underline;
  font-family: cursive;
}

.sobreNosotros-item2 {
  text-align: center;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form h1 {
  color: white;
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form p {
  color: white;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
}
.container-form a i {
  color: orange;
  margin-right: 10px;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form .campo {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form textarea {
  width: 10px;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: #e39403;
}

@media (max-width: 768px) {
  .info-form {
    width: 350px;
    grid-area: infoForm;
  }
  form {
    width: auto;
    grid-area: form;
  }
  .container-form {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "infoForm" "form";
    grid-gap: 50px;
    margin-top: 90px;
  }
  .container-form h1 {
    color: white;
    margin-bottom: 15px;
    font-size: 35px;
  }
  .container-form {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "infoForm" "form";
    grid-gap: 50px;
    margin-top: 90px;
  }
  .container-form p {
    color: white;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  .container-form {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "infoForm" "form";
    grid-gap: 50px;
    margin-top: 90px;
  }
  .container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    font-weight: 700;
  }
  .container-form {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "infoForm" "form";
    grid-gap: 50px;
    margin-top: 90px;
  }
  .container-form i {
    color: orange;
    margin-right: 10px;
  }
  .container-form {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "infoForm" "form";
    grid-gap: 50px;
    margin-top: 90px;
  }
  .container-form .campo {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
  }
  .container-form {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "infoForm" "form";
    grid-gap: 50px;
    margin-top: 90px;
  }
  .container-form textarea {
    width: 10px;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
  }
  .container-form {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-areas: "infoForm" "form";
    grid-gap: 50px;
    margin-top: 90px;
  }
  .container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .container-form .btn-enviar:hover {
    background: #e39403;
  }
}
.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  font-size: 18px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.p-footer {
  padding-top: 15px;
}

/*# sourceMappingURL=style.css.map */
