// Géneros

// MAIN GENEROS

.main-container-generos {
    height: auto;
    display: grid;
    align-items: center;
    grid-template-areas:
        "explain explain"
        "rpg hs"
        "disparos br"
        "sim deporte";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.explicacion-generos {
    color: $colors-main;
    justify-self: center;
    grid-area: explain;
    text-align: center;
}

.generos-h4-1 {
    color: $colors-main;
    justify-self: center;
    grid-area: rpg;
    text-align: center;
}

.generos-h4-2 {
    color: $colors-main;
    justify-self: center;
    grid-area: hs;
    text-align: center;
}

.generos-h4-3 {
    color: $colors-main;
    justify-self: center;
    grid-area: disparos;
    text-align: center;
}

.generos-h4-4 {
    color: $colors-main;
    justify-self: center;
    grid-area: br;
    text-align: center;
}

.generos-h4-5 {
    color: $colors-main;
    justify-self: center;
    grid-area: sim;
    text-align: center;
}

.generos-h4-6 {
    color: $colors-main;
    justify-self: center;
    grid-area: deporte;
    text-align: center;
}

.iframe-generos {
    width: 100%;
    height: 100%;
    iframe {
        width: 560px;
        height: 315px;
    }
}

@media (max-width: 768px) {
    .main-container-generos {
        height: auto;
        display: grid;
        align-items: center;
        grid-template-areas:
            "explain"
            "rpg"
            "hs"
            "disparos"
            "br"
            "sim"
            "deporte";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .explicacion-generos {
        color: $colors-main;
        justify-self: center;
        grid-area: explain;
        text-align: center;
    }

    .generos-h4-1 {
        color: $colors-main;
        justify-self: center;
        grid-area: rpg;
        text-align: center;
    }

    .generos-h4-2 {
        color: $colors-main;
        justify-self: center;
        grid-area: hs;
        text-align: center;
    }

    .generos-h4-3 {
        color: $colors-main;
        justify-self: center;
        grid-area: disparos;
        text-align: center;
    }

    .generos-h4-4 {
        color: $colors-main;
        justify-self: center;
        grid-area: br;
        text-align: center;
    }

    .generos-h4-5 {
        color: $colors-main;
        justify-self: center;
        grid-area: sim;
        text-align: center;
    }

    .generos-h4-6 {
        color: $colors-main;
        justify-self: center;
        grid-area: deporte;
        text-align: center;
    }

    .iframe-generos {
        width: 100%;
        height: 100%;
        iframe {
            width: 370px;
            height: 205px;
        }
    }
}